@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
}
.left{
    width: 50%;
    background-color:white ;
    padding: 2rem;
    
}
.image{
  padding: 2rem;
  
}
.right{
    width: 90%;
    background-color: whitesmoke;
    padding: 2rem;
}
.text-heading h2{
    padding-left: 15rem;
    padding-top: 5rem;
}
.text-heading p{
    padding-left: 10rem;
    color: grey;
    padding-top: 1rem;
}
.offer{
    width: 100%;
}
 .img-fluid{
    width: 100%;
    height: 600px;
    padding: 8rem;
}

  .title p{
 color: grey;
 line-height: 3rem;
}
 .title a{
    text-decoration: none;
}
 .title a:hover{
    text-decoration: underline;
}

.web{
  padding-left: 10rem;
}

 .btn{
    font-size: 20px;
    border-radius: 0.3rem;
    margin: 1rem;

    width: 300px;
    padding: 10px;
    
   
}
.btn-blue{
    background-color: blue;
    color: white;
}

.btn-blue:hover{
  background: skyblue;
  
}
